{"os": "solaris",
 "pce_id":"5b4d7e6d-0b94-4499-92c1-1d6e34e07d2c", 
 "make": "Vendor D",
 "model": "Secure Protect",
 "asset": {"hostname": "solaris11-x86-2",
           "ip": "10.10.100.32",
           "mac": "AE264EB85E8D"},
 "software": ["solaris", "java", "firefox"],
 "supported_check_types": ["oval"],
 "register_to": "8db323da-6288-4fdd-a576-d7ac6b028137"
}