
{"os": "windows",
 "pce_id":"d481281a-4d09-4564-a5a9-e86b46ad8e50", 
 "make": "Vendor A",
 "model": "Scanner Pro",
 "asset": {"hostname": "windows10",
           "ip": "10.10.1.1",
           "mac": "463085500B36"},
 "software": ["windows","adobe-reader", "google-chrome", "mozilla-firefox"],
 "supported_check_types": ["oval", "powershell"],
 "register_to": "a004dfdc-2113-4d91-9f7d-112daecfedd3"
}