{"os": "ubuntu",
 "pce_id":"1fe4dc4a-37a6-4787-a47a-e27f28b08e43", 
 "make": "Vendor E",
 "model": "Scan Engine",
 "asset": {"hostname": "ubuntu2004",
           "ip": "10.10.200.37",
           "mac": "2DBD07485C0C"},
 "software": ["ubuntu","mozilla-firefox"],
 "supported_check_types": ["ansible"],
 "register_to": "b3a9bd0c-cd63-476a-86ed-096ae5e234af"
}