{"os": "macos",
 "pce_id":"c6048795-2d04-4142-806d-2c1d281c335c", 
 "make": "Vendor C",
 "model": "Open Monitor",
 "asset": {"hostname": "macos1014",
           "ip": "10.10.100.58",
           "mac": "0F45041BF7B9"},
 "software": ["macos", "safari"],
 "supported_check_types": ["oval", "configuration profiles"],
 "register_to": "8db323da-6288-4fdd-a576-d7ac6b028137"
}