{"os": "solaris",
 "pce_id":"382ec64b-6141-47e2-ad14-a3e2274f046f", 
 "make": "Vendor A",
 "model": "Scanner Pro",
 "asset": {"hostname": "solaris11-x86-3",
           "ip": "10.10.100.32",
           "mac": "AE264EB85E8D"},
 "software": ["solaris", "java", "firefox"],
 "supported_check_types": ["oval"],
"register_to": "a004dfdc-2113-4d91-9f7d-112daecfedd3"
}