{"os": "rhel",
 "pce_id":"bd476f20-cfa4-4ff5-888a-0ba3a6bbb45d", 
 "make": "Vendor B",
 "model": "Assessor",
 "asset": {"hostname": "rhel7",
           "ip": "10.10.200.12",
           "mac": "A95654AF2D66"},
 "software": ["rhel","mozilla-firefox"],
 "supported_check_types": ["oval", "ansible"],
 "register_to": "a004dfdc-2113-4d91-9f7d-112daecfedd3"
}