{"os": "solaris",
 "pce_id":"7bc0df90-cdff-4c73-99ab-8539ca43afff", 
 "make": "Vendor C",
 "model": "Open Monitor",
 "asset": {"hostname": "solaris11-x86-1",
           "ip": "10.10.100.32",
           "mac": "AE264EB85E8D"},
 "software": ["solaris", "java", "firefox"],
 "supported_check_types": ["oval"],
 "register_to": "c6993648-c96c-4b1d-ab1c-7bb5debf934d"
}